@import 'colors';
@import 'fonts';
@import 'functions';

html {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
}
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: #403f3d url('../img/plant.jpg') no-repeat left center;
	color: @text;
	font-family: arial, sans-serif;

	#nav {
		position: relative;
		width: 300px;
		height: 300px;
		margin: auto;
		border: 1px solid red;

		div.shape {
			position: absolute;
			width: 150px;
			height: 150px;

			&#watering {
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 150px 150px;
				border-color: transparent transparent rgba(223, 228, 221, 0.9) transparent;

				.content {
					top: 125px;
					right: 0;
					text-align: right;
				}
			}

			&#today {
				top: 0;
				right: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 150px 0 0 150px;
				border-color: transparent transparent transparent transparent;

				.content {
					bottom: 0;
					right: 0;

					#hour {
						color: @hour;
					}
				}
			}

			&#meteo {
				bottom: 0;
				left: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 150px 150px 0;
				border-color: transparent rgba(189, 197, 199, 0.8) transparent transparent;

				.content {
					top: 0;
					left: 0;
					text-align: right;
				}
			}

			&#plant {
				bottom: 0;
				right: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 150px 150px 0 0;
				border-color: rgba(82, 183, 211, 0.8) transparent transparent transparent;

				.content {
					bottom: 125px;
					left: 0;
				}
			}

			.content {
				position: absolute;
				line-height: 25px;
				width: 150px;
			}
		}
	}
}